{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<h1 class="text-center"> MyShOp</h1>
<div class="card text-center">
  <div class="card-header">
   
    
  </div>
  <div class="card-body">
    <h5 class="card-title">Bienvenue</h5>
    <p class="card-text">Bienvenue sur MyShop, votre destination ultime pour la mode et les vêtements tendance ! Nous sommes ravis de vous accueillir dans notre univers de style, où la passion pour la mode rencontre la commodité du shopping en ligne.

Chez MyShop, nous comprenons que la mode est bien plus qu'un simple choix de vêtements. C'est une expression de votre personnalité, de votre créativité et de votre confiance en vous. C'est pourquoi nous nous efforçons de vous offrir une sélection soigneusement choisie de vêtements de qualité qui reflètent les dernières tendances et répondent à vos besoins et à vos préférences individuelles.

Notre équipe dévouée travaille sans relâche pour vous apporter les dernières collections des marques les plus en vogue, des pièces intemporelles aux articles saisonniers, et tout ce qui se trouve entre les deux. Nous croyons que la mode doit être accessible à tous, c'est pourquoi nous proposons une gamme de prix diversifiée pour répondre à différents budgets.

Naviguez à travers nos catégories pour découvrir une variété de vêtements pour femmes, hommes et enfants, ainsi que des accessoires et des chaussures qui compléteront parfaitement votre look. Que vous recherchiez une tenue élégante pour une occasion spéciale, des vêtements décontractés pour une journée détente, ou que vous souhaitiez simplement mettre à jour votre garde-robe, MyShop est là pour vous.

Nous accordons une importance particulière à la satisfaction de nos clients, c'est pourquoi nous offrons un service client exceptionnel, une livraison rapide et des retours simples. Votre expérience de shopping en ligne avec MyShop doit être aussi agréable que possible.

Alors, plongez dans notre boutique en ligne et laissez-vous emporter par la magie de la mode. Nous sommes convaincus que vous trouverez des pièces qui correspondent à votre style unique et à votre passion pour la mode. Merci de choisir MyShop comme votre destination shopping préférée, et restez à l'affût des nouvelles arrivées et des promotions excitantes !

Bienvenue chez MyShop, où la mode prend vie. Préparez-vous à découvrir une expérience de shopping inoubliable !.</p>
   <a href="{{ path('boutique')}}"class="btn btn-primary">La Boutique</a>
  </div>
</div>

{% endblock %}
